//全局样式配置
@use './theme-variable.module.scss' as *;

* {
  margin: 0;
  padding: 0;
}
body,
html,
#app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  // background-color: #f5f7fa;
  margin: 0 auto;
}
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'HeitiSC',
    'WenQuanYi Micro Hei', sans-serif;
}
.clearFix::after {
  display: block;
  width: 0;
  height: 0;
  content: '';
  clear: both;
}
.clearFix {
  zoom: 1;
}
.text-center {
  text-align: center;
}
/* 新增 */
/* 滚动调样式 */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  /* background-color: #fff; */
  /* border-radius: 1px; */
}

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: #cacbcd;
  &:hover {
    background-color: #aaacae;
  }
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  background: khaki;
}
.el-dialog {
  display: flex;
  flex-direction: column;
  // margin: 0 !important;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  /*height:600px;*/
  max-height: calc(100% - 10px);
  max-width: calc(100% - 5px);
}
.el-dialog .el-dialog__body {
  flex: 1;
  overflow: auto;
}
