@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

//系统结构布局
@use './theme-variable.module.scss' as *;
@use './mixin.scss' as *;


.el-menu--horizontal {
  border-bottom: none;
}
.el-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .el-header {
    height: $navbarHeight;
    padding: 0;
    position: relative;
    z-index: 9;
  }
  .el-aside {
    width: $sidebarMaxWidht;
    height: 100%;
    background-color: var(--el-menu-bg-color);
    box-shadow: 12px 0px 48px 0px rgba(0, 0, 0, 0.04);
  }
  .el-main {
    padding: 0;
  }
  .el-menu {
    border-right: none;
    background-color: var(--el-menu-bg-color);
    //父级菜单
    .el-sub-menu {
      .el-sub-menu {
        .el-sub-menu__title {
          font-size: var(--el-sub-menu-item-font-size);
        }
        .el-menu-item {
          font-size: var(--el-sub-menu-item-font-size);
        }
      }
      &.is-active {
        & > .el-sub-menu__title {
          color: $sidebarActiveSubmenuTextColor;
          border-bottom-width: var(--menu-border-bottom-width);
        }
      }
      &.is-opened {
        background-color: $sidebarOpenBgColor;
        .el-menu {
          background-color: $sidebarOpenBgColor;
        }
      }
    }
    //叶子节点菜单
    .el-menu-item {
      &.is-active {
        background-color: $sidebarActiveBgColor;
        color: var(--el-menu-active-color) !important;
      }
      &:hover {
        background-color: var(--el-menu-hover-bg-color);
        color: var(--el-menu-hover-text-color);
      }
    }
    //菜单目录
    .el-sub-menu__title {
      &:hover {
        color: var(--el-menu-hover-text-color);
        background-color: var(--el-menu-hover-bg-color);
      }
    }
  }

  //面包屑配置
  .el-breadcrumb {
    font-size: 14px;
    padding: 15px 20px 5px;
    /* height: 24px; */
    box-sizing: border-box;
    // background: #fff;
    // box-shadow: 0 1px 3px rgb(0 0 0 / 8%);
    position: relative;
    z-index: 1;
    .el-breadcrumb__inner {
      color: #909399;
    }
    .el-breadcrumb__item {
      // &:last-child {
      //   .el-breadcrumb__inner {
      //     color: #131414;
      //   }
      // }
    }
    .el-breadcrumb__separator.el-icon {
      color: #909399;
    }
  }
  .el-table {
    &:not(.el-table--border) {
      .el-table__inner-wrapper::before {
        display: none;
      }
    }
    .el-table__header-wrapper {
      th {
        background: #f2f6fc;
        font-weight: normal;
        font-size: 14px;
      }
    }
  }
}

//tabs组件配置
.reset-tabs {
  padding: 0 20px;
  // background: #fff;
  // margin-bottom: 10px;
  box-shadow: 0 1px 3px rgb(100 100 100 / 30%);
  min-height: 39px;
  position: relative;
  z-index: 3;
  .el-tabs__header {
    margin-bottom: 0;
  }
  .el-tabs__active-bar {
    height: 1px;
  }
  .el-tabs__nav-wrap::after {
    display: none;
  }
  .el-tabs__item {
    .is-icon-close {
      vertical-align: text-top;
      opacity: 0;
      svg {
        display: none;
      }
    }
    &:hover .is-icon-close {
      opacity: 1;
      svg {
        display: inline;
      }
    }
    &.is-active .is-icon-close {
      opacity: 1;
      svg {
        display: inline;
      }
    }
  }
}

//日期组件
.el-date-editor.el-input {
  width: 100%;
}
.el-message {
  min-width: 300px;
}
